@model Category;
@{
    ViewData["Title"] = "Thêm danh mục";
}
<div class="text-center m-5">
    <h2>@ViewData["Title"]</h2>
</div>
<div class="container">
    <form asp-action="Create" asp-controller="Category">
        <div class="form-floating mb-3">
            <input class="form-control" placeholder="" asp-for="STitle">
            <label for="STitle">Tên danh mục<span class="text-danger">*</span></label>
            <span asp-validation-for="STitle" class="text-danger"></span>
        </div>
        <div>
            <button type="submit" class="btn btn-success m-3">
                <i class="bi bi-plus-circle"></i> Tạo
            </button>
            <a class="btn btn-danger m-3" asp-action="Index" asp-controller="Category">
                <i class="bi bi-x-circle"></i> Hủy
            </a>
        </div>
    </form>
</div>