@{
    ViewData["Title"] = "Liên hệ";
}
<div class="container">
    <nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '>';">
        <ol class="breadcrumb ms-2">
            <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
        </ol>
    </nav>
</div>
<div class="container text-center">
    <img class="mt-3" src="~/images/logo_hiep_hoi_trai_tim.png" width="180px">
    <h2 class="text-success mt-4 mb-4">Liên hệ với hiệp hội</h2>
    <p>Số điện thoại: 087 462 8339</p>
    <p>Địa chỉ liên hệ: Số 172 Đàm Quang Trung, Long Biên, Long Biên, Hà Nội</p>
</div>