@{
    ViewData["Title"] = "Giới thiệu";
}

<div class="container">
    <nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '>';">
        <ol class="breadcrumb ms-2">
            <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
        </ol>
    </nav>
</div>
<div class="container" id="introduce-container">
    <img src="~/images/gioi_thieu_hiep_hoi.png" class="rounded img-intro shadow-sm">
    <div class="common mt-3">
        <span>
            Hiệp hội Trái Tim Tình Thương là một tổ chức phi lợi nhuận hoạt động với mục tiêu kết nối và lan tỏa tình yêu và lòng nhân ái đến với những người gặp khó khăn trong cộng đồng. Tổ chức này tập trung vào việc giúp đỡ những người bệnh nghèo đang chờ đợi cơ hội được phẫu thuật tim, đặc biệt là những trẻ em và người lớn tuổi.
        </span>
    </div>
    <div class="objective">
        <h4 class="text-center mb-4 mt-5">MỤC TIÊU</h4>
        <div class="container">
            <div class="card">
                <div class="card-body">
                    Giúp đỡ những người bệnh tim có hoàn cảnh khó khăn, đặc biệt là những trẻ em và người già, có cơ hội được phẫu thuật tim để cải thiện chất lượng cuộc sống và tạo ra những cơ hội mới cho họ.
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    Cung cấp hỗ trợ y tế cho những người bệnh tim bằng cách hỗ trợ chi phí phẫu thuật tim, cung cấp các dịch vụ y tế cần thiết, và tìm kiếm các cơ hội phẫu thuật tim cho những người có nhu cầu.
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    Tạo ra một mạng lưới kết nối giữa những người muốn giúp đỡ và những người cần giúp đỡ, thông qua việc kết nối các bác sĩ, nhà hảo tâm, nhà hảo tâm và các tổ chức từ thiện khác nhau. Đồng thời, tổ chức này cũng lan tỏa thông điệp về tình yêu và lòng nhân ái thông qua các hoạt động và chiến dịch tình nguyện.
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    Tổ chức các chiến dịch gây quỹ để hỗ trợ các hoạt động từ thiện của mình. Họ cũng tìm kiếm sự hỗ trợ tài chính từ các doanh nghiệp, cá nhân và tổ chức từ thiện khác nhau để thúc đẩy sứ mệnh của mình.
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        
    </div>
</div>